<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Content of table {{ table_name }}</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1>Content of table <tt>{{ table_name }}</tt></h1>

    <table>
        <tr>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>

        {% for row in result %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>